<hr>
<h2>Now your result</h2>
<hr>
<%= @result[:result] %>
<br>
<%= @result[:time] %>
<br>
<%= @result[:translation] %>
<br>
<%= @result[:score] %>
<br>
<%= @result[:message] %>
<br>
<%= link_to 'Replay', '/game' %>
